{% extends 'index.html' %}
{% load bootstrap4 %}

{% if bootstrap_messages %}
	{% block message %}
		{% bootstrap_messages %}
	{% endblock message %}
{% endif %}

{% block content %}
{% if user.is_authenticated %}
    <h2>Users</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>User ID</th>
              <th>Nickname</th>
              <th>Name</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users_list %}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.username}}</td>
              <td>{{user}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;first</a>
            <a href="?page={{ p.previous_page_previous_page_number }}">{{ previous }}</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{{ next }}</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ last }}&raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock content %}